*.pyc
*.pyd
*.pyo
*.swp
*.so
.pybuild
dido.egg-info
dido/build
bak
build
dist
docs/build
tmp

# service scripts
zzz
zzz_*.py
zzz_*.sh
zzz_long_tests

# Eclipse/PyDev
.project
.pydevproject
.settings

